<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet"
          th:href="@{/css/change-password-form.css}">
</head>
<body>
<form th:fragment="form"
      action="/user/changePassword"
      class="change-password-container-content-item-2-form"
      method="post">
    <input type="text" name="a"
           value="change-password"
           hidden="hidden">
    <div class="change-password-container-content-item-2-form-header">
        <div class="change-password-container-content-item-2-form-header-item1">
            Đổi mật khẩu
        </div>
        <div class="change-password-container-content-item-2-form-header-item2">
            <span class="change-password-container-content-item-2-form-header-item2-close ti-close"></span>
        </div>
    </div>

    <div class="change-password-container-content-item-2-form-body">
        <div class="change-password-container-content-item-2-form-body-item-1">
            <input
                    type="password"
                    name="oldPW"
                    class="change-password-container-content-item-2-form-body-item-1-inputEmail"
                    placeholder="Mật khẩu cũ"
                    required
                    onkeyup="checkInput(), checkInputMessage()"
                    onblur="checkInputMessage()"
            />
            <div class="invalidEmail-announce">Vui
                lòng điền vào mục này
            </div>
            <div
                    type="password"
                    class="change-password-container-content-item-2-form-body-item-1-passwordBox"
            >
                <input
                        type="password"
                        class="change-password-container-content-item-2-form-body-item-1-inputPassword"
                        placeholder="Mật khẩu mới"
                        name="newPW"
                        id="change-password-password"
                        required
                        onkeyup="checkInput(),checkInputMessage()"
                        onblur="checkInputMessage(),checkValidCorrectPassword(), checkRegexPassword()"
                />
                <div
                        class="change-password-container-content-item-2-form-body-item-1-inputPassword-eyeIcon"
                        onclick="hideShowPassword()"
                >
                    <div
                            class="change-password-container-content-item-2-form-body-item-1-inputPassword-openEyeIcon"
                    ></div>
                </div>
            </div>
            <div class="invalidPassword-announce">
                Vui lòng điền vào mục này
            </div>
            <div class="invalidRegexPassword-announce">
                Password dài 6-20 ký tự, có ít
                nhất 1 chữ thường, 1 chữ Hoa và 1
                số
            </div>
            <div
                    type="password"
                    class="change-password-container-content-item-2-form-body-item-1-passwordBox"
            >
                <input
                        type="password"
                        class="change-password-container-content-item-2-form-body-item-1-inputCorrectPassword"
                        placeholder="Nhập lại mật khẩu mới"
                        name="newAgainPW"
                        id=""
                        required
                        onkeyup="checkValidCorrectPassword(), checkInput()"
                        onblur="checkValidCorrectPassword(), checkInput()"
                />
                <div
                        class="change-password-container-content-item-2-form-body-item-1-inputCorrectPassword-wrongIcon"
                >
                    <div
                            class="change-password-container-content-item-2-form-body-item-1-inputCorrectPassword-checkIcon"
                    ></div>
                </div>
            </div>
            <div class="invalidCorrectPassword-announce">
                Mật khẩu xác nhận không khớp
            </div>
            <button
                    type="submit"
                    class="change-password-container-content-item-2-form-body-item-1-submitsignup"
                    id="change-password-submit-button"
            >
                Xác nhận
            </button>
        </div>
    </div>
</form>
<script th:src="@{js/change-password-form.js}"></script>
</body>
</html>
