<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="nav" th:fragment="nav">
    <div class="nav-bg">
        <a th:href="@{/seller/information}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-home"></span>
            <span class="nav-bg-item-text">
                    Thông tin cửa hàng
                </span>
        </a>
        <a th:href="@{/seller/product}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-package"> </span>
            <span class="nav-bg-item-text">
                    Quản lý sản phẩm
                </span>
        </a>
        <a th:href="@{/seller/bill}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-receipt"> </span>
            <span class="nav-bg-item-text">
                    Quản lý đơn hàng
                </span>
        </a>
        <a th:href="@{/seller/history}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-money"></span>
            <span class="nav-bg-item-text">
                    Lịch sử giao dịch
                </span>
        </a>
        <a th:href="@{/seller/statistics}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-bar-chart"></span>
            <span class="nav-bg-item-text">
                    Thống kê bán hàng
                </span>
        </a>
    </div>
</nav>
</body>
</html>