<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="nav" th:fragment="nav">
    <div class="nav-bg">
        <a th:href="@{/user/information}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-user"></span>
            <span class="nav-bg-item-text">
                    Thông tin tài khoản
                </span>
        </a>
        <a th:href="@{/user/address}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-location-pin"></span>
            <span class="nav-bg-item-text">
                    Địa chỉ
                </span>
        </a>
        <a th:href="@{/user/cart}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-shopping-cart"></span>
            <span class="nav-bg-item-text">
                    Giỏ hàng
                </span>
        </a>
        <a th:href="@{/user/order}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-receipt"> </span>
            <span class="nav-bg-item-text">
                    Theo dõi đơn hàng
                </span>
        </a>
        <a th:href="@{/user/wallet}"
           class="nav-bg-item">
            <span class="nav-bg-item-icon ti-wallet"></span>
            <span class="nav-bg-item-text">
                    Ví tài khoản
                </span>
        </a>
    </div>
</nav>
</body>
</html>