<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Title</title>
    <link rel="stylesheet"
          href="/css/address-user.css">
    <link rel="stylesheet"
          href="/css/address-form.css">
    <link rel="stylesheet"
          href="/css/header.css">
    <link rel="stylesheet"
          href="/css/nav-user.css">
    <link rel="stylesheet"
          href="/css/themify-icons/themify-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<header th:replace="common/header :: header">
</header>
<div class="person-body">
    <nav th:replace="common/nav-user :: nav">
    </nav>
    <div class="person-body-container">
        <div class="person-body-container-content">
            <div class="person-body-container-content-top">
                <div class="person-body-container-content-top-left">
                    <h1 class="person-body-container-content-top-title">
                        Địa chỉ của tôi
                    </h1>
                    <div class="person-body-container-content-top-content">
                        Quản lý địa chỉ nhận hàng
                    </div>
                </div>
                <div class="person-body-container-content-top-right">
                    <button id="add-address"
                            class="person-body-container-content-top-right-button">
                        <span class="ti-plus"></span>
                        <span>Thêm địa chỉ mới</span>
                    </button>
                </div>
            </div>

            <div class="person-body-container-content-bottom"
                 th:each="a : ${list_address_user}">
                <div class="person-body-container-content-bottom-group">
                    <div class="person-body-container-content-bottom-group-line">
                        <div class="person-body-container-content-bottom-group-line-left">
                            <div hidden="hidden"></div>
                            <div class="person-body-container-content-bottom-group-line-left-name"
                                 th:value="*{a.name}"
                                 th:text="*{a.name}">
                            </div>
                            <div class="person-body-container-content-bottom-group-line-left-line">

                            </div>
                            <div class="person-body-container-content-bottom-group-line-left-phone"
                                 th:text="*{a.phone_number}">
                            </div>
                        </div>
                        <div class="person-body-container-content-bottom-group-line-right">
                            <div class="person-body-container-content-bottom-group-line-right-item">
                                <button class="button-update-address-user btn btn-update"
                                        th:attr="
                                        data-IP=${a.IP.id},
                                        data-name=${a.name},
                                        data-id=${a.id},
                                        data-phone=*{a.phone_number},data-city=*{a.city},data-ward=*{a.ward},data-district=*{a.district.id_Coordinates},data-apartment=*{a.apartment_number}, data-default-address=*{a.default_address}"
                                        th:id="'button-update-address-user-' + ${a.id}">
                                    Cập nhật
                                </button>
                            </div>
                            <div class="person-body-container-content-bottom-group-line-right-item">
                                <button class="btn-delete"
                                        th:attr="data-id-delete=${a.id}"
                                        th:id="'delete-address'+${a.id}">
                                    Xóa
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-group-line">
                        <div class="person-body-container-content-bottom-group-line-left">
                            <div class="person-body-container-content-bottom-group-line-left-phone"
                                 th:text="*{a.apartment_number}">
                            </div>
                        </div>
                        <div th:if="*{a.default_address=='true'}"
                             class="button-default-address">
                            <div class="person-body-container-content-bottom-group-line-right">
                                <button disabled="disabled"
                                        class="person-body-container-content-bottom-group-line-right-item default-set">
                                    Đang làm mặc
                                    định
                                </button>
                            </div>
                        </div>
                        <div th:if="*{a.default_address == 'false'}"
                             class="change-default-address">
                            <form th:action="@{/user/change-default-address}"
                                  method="post">
                                <div class="person-body-container-content-bottom-group-line-right">
                                    <div class="person-body-container-content-bottom-group-line-right-item default-set">
                                        <input hidden="hidden"
                                               name="id"
                                               th:value="*{a.id}">
                                        <button type="submit"
                                                class="button-change-default-address">
                                            Thiết
                                            lập
                                            mặc
                                            định
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div class="person-body-container-content-bottom-group-line">
                        <div class="person-body-container-content-bottom-group-line-left">
                            <div class="person-body-container-content-bottom-group-line-left-phone">
                                <!--                                <span th:text="*{a.ward}">-->
                                <span th:if="*{a.ward =='1'}">Phường 1</span>
                                <span th:if="*{a.ward =='2'}">Phường 2</span>
                                <span th:if="*{a.ward =='3'}">Phường 3</span>
                                <span th:if="*{a.ward =='4'}">Phường 4</span>
                                <span th:if="*{a.ward =='5'}">Phường 5</span>
                                <span th:if="*{a.ward =='6'}">Phường 6</span>
                                <span th:if="*{a.ward =='7'}">Phường 7</span>
                                <span th:if="*{a.ward =='8'}">Phường 8</span>
                                <span th:if="*{a.ward =='9'}">Phường 9</span>
                                <span th:if="*{a.ward =='10'}">Phường 10</span>
                                <!--                                </span>-->
                                <span>, </span>
                                <span th:if="*{a.district.id_Coordinates == 1}">Quận 1</span>
                                <span th:if="*{a.district.id_Coordinates == 2}">Quận 2</span>
                                <span th:if="*{a.district.id_Coordinates == 3}">Quận 3</span>
                                <span th:if="*{a.district.id_Coordinates == 4}">Quận 4</span>
                                <span th:if="*{a.district.id_Coordinates == 5}">Quận 5</span>
                                <span th:if="*{a.district.id_Coordinates == 6}">Quận 6</span>
                                <span th:if="*{a.district.id_Coordinates == 7}">Quận 7</span>
                                <span th:if="*{a.district.id_Coordinates == 8}">Quận 8</span>
                                <span th:if="*{a.district.id_Coordinates == 9}">Quận 9</span>
                                <span th:if="*{a.district.id_Coordinates == 10}">Quận 10</span>
                                <span th:if="*{a.district.id_Coordinates == 11}">Quận 11</span>
                                <span th:if="*{a.district.id_Coordinates == 12}">Quận 12</span>
                                <span>, </span>
                                <span th:if="*{a.city == 'Hồ Chí Minh'}">Thành phố Hồ Chí Minh</span>
                                <span th:if="*{a.city == 'Hà Nội'}">Thành phố Hà Nội</span>
                            </div>
                        </div>
                    </div>
                </div>


                <!--cập nhật dữ liệu-->

                <div class="address-form-update-container">
                    <form id="updateForm"
                          th:action="@{/user/update-address}"
                          class="address-update-form-container-form"
                          method="post">
                        <div class="address-form-container-form-header"></div>

                        <div class="address-form-container-form-body">

                            <div class="address-form-container-form-body-line">
                                <div class="address-form-container-form-body-line-item">
                                    <p>Họ và tên
                                        người nhận
                                        (Không
                                        dấu)</p>
                                    <input type="text"
                                           placeholder="Ví dụ: Nguyen Van A"
                                           name="name"
                                           id="name"
                                    />
                                    <input type="text"
                                           name="id"
                                           id="id"
                                           hidden="hidden">
                                    <input type="text"
                                           name="IP"
                                           id="IP"
                                           hidden="hidden">
                                    <input type="text"
                                           name="default_address"
                                           id="default_address"
                                           hidden="hidden">
                                </div>
                                <div class="address-form-container-form-body-line-item">
                                    <p>Số điện
                                        thoại</p>
                                    <input type="text"
                                           placeholder="Ví dụ: 09xxxxxxxx"
                                           name="phone_number"
                                           id="phone"
                                    />
                                </div>
                            </div>
                            <div class="address-form-container-form-body-line">
                                <div class="address-form-container-form-body-line-item">
                                    <p>
                                        Tỉnh/Thành</p>
                                    <select name="city"
                                            id="city">
                                        <option value="Hồ Chí Minh">
                                            Thành
                                            phố Hồ
                                            Chí
                                            Minh
                                        </option>
                                        <option value="Hà Nội">
                                            Thành
                                            phố Hồ
                                            Hà Nội
                                        </option>
                                    </select>
                                </div>
                                <div class="address-form-container-form-body-line-item">
                                    <p>
                                        Quận/Huyện</p>
                                    <select name="district.id_Coordinates"
                                            id="district">
                                        <option value="1">
                                            Quận 1
                                        </option>
                                        <option value="2">
                                            Quận 2
                                        </option>
                                        <option value="3">
                                            Quận 3
                                        </option>
                                        <option value="4">
                                            Quận 4
                                        </option>
                                        <option value="5">
                                            Quận 5
                                        </option>
                                        <option value="6">
                                            Quận 6
                                        </option>
                                        <option value="7">
                                            Quận 7
                                        </option>
                                        <option value="8">
                                            Quận 8
                                        </option>
                                        <option value="9">
                                            Quận 9
                                        </option>
                                        <option value="10">
                                            Quận
                                            10
                                        </option>
                                        <option value="11">
                                            Quận
                                            11
                                        </option>
                                        <option value="12">
                                            Quận
                                            12
                                        </option>
                                    </select>
                                </div>
                                <div class="address-form-container-form-body-line-item">
                                    <p>
                                        Phường/Xã</p>
                                    <select name="ward"
                                            id="ward">
                                        <option value="1">
                                            Phường
                                            1
                                        </option>
                                        <option value="2">
                                            Phường
                                            2
                                        </option>
                                        <option value="3">
                                            Phường
                                            3
                                        </option>
                                        <option value="4">
                                            Phường
                                            4
                                        </option>
                                        <option value="5">
                                            Phường
                                            5
                                        </option>
                                        <option value="6">
                                            Phường
                                            6
                                        </option>
                                        <option value="7">
                                            Phường
                                            7
                                        </option>
                                        <option value="8">
                                            Phường
                                            8
                                        </option>
                                        <option value="9">
                                            Phường
                                            9
                                        </option>
                                        <option value="10">
                                            Phường
                                            10
                                        </option>
                                        <option value="11">
                                            Phường
                                            11
                                        </option>
                                        <option value="12">
                                            Phường
                                            12
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="address-form-container-form-body-line">
                                <div class="address-form-container-form-body-line-item full-width">
                                    <p>Số nhà, Tên
                                        đường</p>
                                    <input class="address-form-container-form-body-line-item-address"
                                           id="apartment-number"
                                           type="text"
                                           placeholder="Ví dụ: 21K Nguyễn Văn Trỗi"
                                           name="apartment_number"/>
                                </div>
                            </div>
                            <div class="address-form-container-form-footer">
                                <button id="address-cancel-button"
                                        type="button"
                                        class="address-form-container-form-footer-button back">
                                    Trở lại
                                </button>
                                <button class="address-form-container-form-footer-button submit"
                                        type="submit">
                                    Hoàn thành
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--hết form cập nhật-->


                <!--Xóa địa chỉ-->
                <div class="overlay-address"></div>
                <div class="form-delete form-delete-container"
                     id="form-delete-address">
                    <h3 class="text-content-form-delete">
                        Bạn có chắc muốn xóa địa
                        chỉ này không</h3>
                    <form style="height: 20rem; width: 40rem "
                          th:action="@{/user/delete-address}"
                          method="post">

                        <input name="id"
                               id="id-delete"
                               hidden="hidden"/>

                        <div class="delete-form">
                            <button type="submit"
                                    class="submit-button btn btn-success ">
                                Xác nhận
                            </button>
                            <button type="button"
                                    style="background-color: red"
                                    id="cancel-button-form-delete"
                                    class="cancel-button btn btn-danger">
                                Hủy
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--form-->
<div class="address-form-container">
    <form id="addForm"
          class="address-form-container-form"
          th:action="@{/user/create-address}"
          method="post"
          th:object="${address_user}">
        <div class="address-form-container-form-header">
            <p>Thêm địa chỉ mới</p>
        </div>
        <input hidden="hidden" name="IP"
               th:value="*{id}">
        <input hidden="hidden"
               name="default_address"
               value="false">
        <div class="address-form-container-form-body">
            <div class="address-form-container-form-body-line">
                <div class="address-form-container-form-body-line-item">
                    <p>Họ và tên người nhận (Không
                        dấu)</p>
                    <input type="text"
                           placeholder="Ví dụ: Nguyen Van A"
                           name="name"/>
                </div>
                <div class="address-form-container-form-body-line-item">
                    <p>Số điện thoại</p>
                    <input type="text"
                           placeholder="Ví dụ: 09xxxxxxxx"
                           name="phone_number"/>
                </div>
            </div>
            <div class="address-form-container-form-body-line">
                <div class="address-form-container-form-body-line-item">
                    <p>Tỉnh/Thành</p>
                    <select name="city">
                        <option value="Hồ Chí Minh">
                            Thành
                            phố Hồ Chí Minh
                        </option>
                    </select>
                </div>
                <div class="address-form-container-form-body-line-item">
                    <p>Quận/Huyện</p>
                    <select name="district.id_Coordinates"
                    >
                        <option value=1>Quận 1
                        </option>
                        <option value=2>Quận 2
                        </option>
                        <option value=3>Quận 3
                        </option>
                        <option value=4>Quận 4
                        </option>
                        <option value=5>Quận 5
                        </option>
                        <option value=6>Quận 6
                        </option>
                        <option value=7>Quận 7
                        </option>
                        <option value=8>Quận 8
                        </option>
                        <option value=9>Quận 9
                        </option>
                        <option value=10>Quận 10
                        </option>
                        <option value=11>Quận 11
                        </option>
                        <option value=12>Quận 12
                        </option>
                    </select>
                </div>
                <div class="address-form-container-form-body-line-item">
                    <p>Phường/Xã</p>
                    <select name="ward">
                        <option value="1">Phường
                            1
                        </option>
                        <option value="2">Phường
                            2
                        </option>
                        <option value="3">Phường
                            3
                        </option>
                        <option value="4">Phường
                            4
                        </option>
                        <option value="5">Phường
                            5
                        </option>
                        <option value="6">Phường
                            6
                        </option>
                        <option value="7">Phường
                            7
                        </option>
                        <option value="8">Phường
                            8
                        </option>
                        <option value="9">Phường
                            9
                        </option>
                        <option value="10">Phường
                            10
                        </option>
                        <option value="11">Phường
                            11
                        </option>
                        <option value="12">Phường
                            12
                        </option>
                    </select>
                </div>
            </div>
            <div class="address-form-container-form-body-line">
                <div class="address-form-container-form-body-line-item full-width">
                    <p>Số nhà, Tên đường</p>
                    <input class="address-form-container-form-body-line-item-address"
                           type="text"
                           placeholder="Ví dụ: 21K Nguyễn Văn Trỗi"
                           name="apartment_number"/>
                </div>
            </div>
            <div class="address-form-container-form-footer">
                <div id="closeAdd"
                     class="address-form-container-form-footer-button back">
                    Trở lại
                </div>
                <button class="address-form-container-form-footer-button submit"
                        type="submit">Hoàn thành
                </button>
            </div>
        </div>
    </form>
</div>


<script src="/js/address-user.js"></script>
<script sec:authorize="isAuthenticated()">
    $(document).ready(
        $.ajax(
            {
                type: "GET",
                url: '/api/cart',
                success: function (result) {
                    console.log(result);
                    $(".home-header-bg-container-bot-right-quantity").text(result.length);
                    loadItem(result);
                }
            }
        )
    );

    function deleteItem(event) {
        event.preventDefault();
        console.log(event.target.href);
        $.ajax(
            {
                type: "GET",
                url: event.target.href,
                success: function (result) {
                    console.log(result);
                    $(".home-header-bg-container-bot-right-quantity").text(result.length);
                    $(".home-header-bg-container-bot-right-popup-container").empty();
                    loadItem(result);
                }
            }
        )
    }

    function loadItem(result) {
        for (let i = 0; i < result.length; i++) {
            $(".home-header-bg-container-bot-right-popup-container").append(
                `<div class=\"home-header-bg-container-bot-right-popup-item\">\n` +
                `                              <img class=\"home-header-bg-container-bot-right-popup-item-img\"\n` +
                `                                     src=${result[i].product.img}>\n` +
                `                                <div class=\"home-header-bg-container-bot-right-popup-item-name\">\n` +
                `                                    <span>${result[i].product.name}</span>\n` +
                `                                </div>\n` +
                `                                <div class=\"home-header-bg-container-bot-right-popup-item-price\">\n` +
                `                                    <sub>đ</sub><span>${(result[i].product.sellPrice).toLocaleString('de-DE')}</span>\n` +
                `                                </div>\n` +
                `                                <div class=\"home-header-bg-container-bot-right-popup-item-delete\">\n` +
                `                                    <a onclick="deleteItem(event)" class=\"home-header-bg-container-bot-right-popup-item-delete-link\"  href=\"/api/cart/delete/${result[i].product.id}\">Xóa</a>\n` +
                `                                </div>\n` +
                `                           </div>`)
        }
    }
</script>
</body>
</html>
