<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Title</title>
    <link rel="stylesheet"
          href="/css/themify-icons/themify-icons.css">
    <link rel="stylesheet"
          href="/css/cart-form.css">
    <link rel="stylesheet"
          href="/css/header.css">
    <link rel="stylesheet"
          href="/css/nav-user.css">
    <link rel="stylesheet"
          href="/css/address-user.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<header th:replace="common/header :: header">

</header>
<div class="content">
    <nav th:replace="common/nav-user :: nav">
    </nav>
    <div class="cart-body">
        <form action="/payment" method="get"
              class="cart-body-container">
            <div class="cart-body-container-header">
                <div class="cart-body-container-header-productName">
                    Sản phẩm
                </div>
                <div class="cart-body-container-header-category">
                    Phân loại
                </div>
                <div class="cart-body-container-header-unitPrice">
                    Đơn giá
                </div>
                <div class="cart-body-container-header-quantity">
                    Số lượng
                </div>
                <div class="cart-body-container-header-totalPrice">
                    Số tiền
                </div>
                <div class="cart-body-container-header-action">
                    Thao tác
                </div>
            </div>
            <div class="cart-body-container-content"
                 th:each="cartItem: ${cartItems}">
                <div class="cart-body-container-content-row cart-header">
                    <div
                            class="cart-body-container-content-row-shopIcon ti-briefcase"
                    ></div>
                    <div th:text="${cartItem.product.seller.name}"
                         class="cart-body-container-content-row-shopName">
                        Vannesa
                    </div>
                </div>
                <!-- Begin product -->

                <div>
                    <div class="cart-body-container-content-row cart-content">
                        <div class="cart-body-container-header-productName cart-content">
                            <img
                                    class="cart-body-container-header-productName-img"
                                    th:src="${cartItem.product.img}"
                                    alt=""
                            />
                            <p th:text="${cartItem.product.name}"
                               class="cart-body-container-header-productName-text">
                                iphone 15
                            </p>
                        </div>
                        <div th:text="${cartItem.product.category.name}"
                             class="cart-body-container-header-category cart-content">
                            Đồ điện tử
                        </div>
                        <div class="cart-body-container-header-unitPrice cart-content modify-unitPrice">
                            <div class="cart-body-container-header-unitPrice-origin">
                                <sub>đ</sub> <span
                                    th:text="${#numbers.formatDecimal(cartItem.product.originPrice, 0, 'POINT', 0, 'POINT')}">1.000.000</span>
                            </div>
                            <div class="cart-body-container-header-unitPrice-modify">
                                <sub>đ</sub>
                                <p th:text="${#numbers.formatDecimal(cartItem.product.sellPrice, 0, 'POINT', 0, 'POINT')}">
                                    900.000</p>
                            </div>
                        </div>
                        <div class="cart-body-container-header-quantity cart-content">
                            <div class="cart-body-container-header-quantity-container">
                                <button
                                        class="minusButton"
                                        onclick=""
                                        type="button"
                                >
                                    -
                                </button>
                                <input
                                        type="text"
                                        th:name="${cartItem.getId()}"
                                        class="quantityValue"
                                        id="${product.getId()}"
                                        onkeyup="value=value.replace(/[^\d]/g,'')"
                                        th:value="${cartItem.quantity}"
                                />
                                <button
                                        class="plusButton"
                                        type="button"
                                        onclick=""
                                >
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="cart-body-container-header-totalPrice cart-content">
                            <sub>đ</sub>
                            <p th:text="${#numbers.formatDecimal((cartItem.product.sellPrice * cartItem.quantity), 0, 'POINT', 0, 'POINT')}">
                                900.000</p>
                        </div>
                        <a th:href="@{/api/cart/delete/{id}(id = ${cartItem.product.id})}"
                           class="cart-body-container-header-action cart-content cart-delete-item-button">Xóa</a>
                    </div>
                </div>

                <!-- End product -->
            </div>
            <div class="cart-body-container-footer">
                <div class="cart-body-container-footer-address">
                    <div>Địa chỉ nhận hàng:</div>
                    <div th:if=" ${a} == null"
                         class="person-body-container-content-bottom-group">
                        <a class="cart-change-address-button"
                           th:href="@{/user/address}"
                        >
                            <div
                                    class="button-change-default-address">
                                Chọn địa chỉ nhận
                                hàng
                            </div>
                        </a>
                    </div>
                    <div th:if=" ${a} != null"
                         class="person-body-container-content-bottom-group">
                        <div
                                class="person-body-container-content-bottom-group-line">
                            <div class="person-body-container-content-bottom-group-line-left">
                                <div hidden="hidden"></div>
                                <div class="person-body-container-content-bottom-group-line-left-name"
                                     th:value="${a.name}"
                                     th:text="${a.name}">
                                </div>
                                <div class="person-body-container-content-bottom-group-line-left-line">

                                </div>
                                <div class="person-body-container-content-bottom-group-line-left-phone"
                                     th:text="${a.phone_number}">
                                </div>
                            </div>
                        </div>
                        <div class="person-body-container-content-bottom-group-line">
                            <div class="person-body-container-content-bottom-group-line-left">
                                <div class="person-body-container-content-bottom-group-line-left-phone"
                                     th:text="*{a.apartment_number}">
                                </div>
                            </div>
                            <div
                                    class="change-default-address">
                                <a class="cart-change-address-button"
                                   th:href="@{/user/address}"
                                >
                                    <div
                                            class="button-change-default-address">
                                        Thay
                                        đổi
                                        địa
                                        chỉ
                                        nhận
                                        hàng
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="person-body-container-content-bottom-group-line">
                            <div class="person-body-container-content-bottom-group-line-left">
                                <div class="person-body-container-content-bottom-group-line-left-phone">
                                    <!--                                <span th:text="*{a.ward}">-->
                                    <span th:if="*{a.ward =='1'}">Phường 1</span>
                                    <span th:if="*{a.ward =='2'}">Phường 2</span>
                                    <span th:if="*{a.ward =='3'}">Phường 3</span>
                                    <span th:if="*{a.ward =='4'}">Phường 4</span>
                                    <span th:if="*{a.ward =='5'}">Phường 5</span>
                                    <span th:if="*{a.ward =='6'}">Phường 6</span>
                                    <span th:if="*{a.ward =='7'}">Phường 7</span>
                                    <span th:if="*{a.ward =='8'}">Phường 8</span>
                                    <span th:if="*{a.ward =='9'}">Phường 9</span>
                                    <span th:if="*{a.ward =='10'}">Phường 10</span>
                                    <!--                                </span>-->
                                    <span>, </span>
                                    <span th:if="*{a.district.id_Coordinates == 1}">Quận 1</span>
                                    <span th:if="*{a.district.id_Coordinates == 2}">Quận 2</span>
                                    <span th:if="*{a.district.id_Coordinates == 3}">Quận 3</span>
                                    <span th:if="*{a.district.id_Coordinates == 4}">Quận 4</span>
                                    <span th:if="*{a.district.id_Coordinates == 5}">Quận 5</span>
                                    <span th:if="*{a.district.id_Coordinates == 6}">Quận 6</span>
                                    <span th:if="*{a.district.id_Coordinates == 7}">Quận 7</span>
                                    <span th:if="*{a.district.id_Coordinates == 8}">Quận 8</span>
                                    <span th:if="*{a.district.id_Coordinates == 9}">Quận 9</span>
                                    <span th:if="*{a.district.id_Coordinates == 10}">Quận 10</span>
                                    <span th:if="*{a.district.id_Coordinates == 11}">Quận 11</span>
                                    <span th:if="*{a.district.id_Coordinates == 12}">Quận 12</span>
                                    <span>, </span>
                                    <span th:if="*{a.city == 'hcm'}">Thành phố Hồ Chí Minh</span>
                                    <span th:if="*{a.city == 'hn'}">Thành phố Hà Nội</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-body-container-footer-container">
                    <div class="cart-body-container-footer-container-container">
                        <div class="cart-body-container-footer-container-deliveryCharge">
                            <p class="cart-body-container-footer-container-deliveryCharge-info">
                                Chi phí vận
                                chuyển:
                            </p>
                            <p class="cart-body-container-footer-container-deliveryCharge-money">
                                <sub>đ</sub><span
                                    th:text="${#numbers.formatDecimal(deliveryCharge, 0, 'POINT', 0, 'POINT')}">
                        </span>
                            </p>
                        </div>
                        <div class="cart-body-container-footer-container-cartTotalMoney">
                            <p
                                    class="cart-body-container-footer-container-cartTotalMoney-info"
                            >
                                Tổng tiền hàng
                                (<span> </span>
                                Sản
                                phẩm):
                            </p>
                            <p
                                    class="cart-body-container-footer-container-cartTotalMoney-money"
                            >
                                <sub>đ</sub><span> </span>
                            </p>
                        </div>
                    </div>

                    <div class="cart-body-container-footer-container-totalBill">
                        <p class="cart-body-container-footer-container-totalBill-info">
                            Tổng hóa đơn:
                        </p>
                        <p class="cart-body-container-footer-container-totalBill-money">
                            <sub>đ</sub><span
                        >
                            200.000.000
                        </span>
                        </p>
                    </div>
                    <div class="cart-body-container-footer-container-payment">
                        <button type="submit">Mua
                            Hàng
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/js/cart-form.js"></script>
<script sec:authorize="isAuthenticated()">
    $(document).ready(
        $.ajax(
            {
                type: "GET",
                url: '/api/cart',
                success: function (result) {
                    console.log(result);
                    $(".home-header-bg-container-bot-right-quantity").text(result.length);
                }
            }
        )
    )
    $(document).ready(
        $.ajax(
            {
                type: "GET",
                url: '/api/cart',
                success: function (result) {
                    console.log(result);
                    $(".home-header-bg-container-bot-right-quantity").text(result.length);
                    loadItem(result);
                }
            }
        )
    );
    $(document).ready(
        $(".cart-delete-item-button").click(function (event) {
            event.preventDefault();
            $.ajax(
                {
                    type: "GET",
                    url: this.href,
                    success: function (result) {
                        location.reload();
                    }
                }
            )
        })
    )

    function deleteItem(event) {
        event.preventDefault();
        console.log(event.target.href);
        $.ajax(
            {
                type: "GET",
                url: event.target.href,
                success: function (result) {
                    console.log(result);
                    $(".home-header-bg-container-bot-right-quantity").text(result.length);
                    $(".home-header-bg-container-bot-right-popup-container").empty();
                    loadItem(result);
                }
            }
        )
    }

    function loadItem(result) {
        for (let i = 0; i < result.length; i++) {
            $(".home-header-bg-container-bot-right-popup-container").append(
                `<div class=\"home-header-bg-container-bot-right-popup-item\">\n` +
                `                              <img class=\"home-header-bg-container-bot-right-popup-item-img\"\n` +
                `                                     src=${result[i].product.img}>\n` +
                `                                <div class=\"home-header-bg-container-bot-right-popup-item-name\">\n` +
                `                                    <span>${result[i].product.name}</span>\n` +
                `                                </div>\n` +
                `                                <div class=\"home-header-bg-container-bot-right-popup-item-price\">\n` +
                `                                    <sub>đ</sub><span>${(result[i].product.sellPrice).toLocaleString('de-DE')}</span>\n` +
                `                                </div>\n` +
                `                                <div class=\"home-header-bg-container-bot-right-popup-item-delete\">\n` +
                `                                    <a onclick="deleteItem(event)" class=\"home-header-bg-container-bot-right-popup-item-delete-link\"  href=\"/api/cart/delete/${result[i].product.id}\">Xóa</a>\n` +
                `                                </div>\n` +
                `                           </div>`)
        }
    }
</script>
</body>
</html>
