<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head>
    <title>Title</title>
    <link rel="stylesheet"
          href="/css/notify-user.css">
    <link rel="stylesheet"
          href="/css/header.css">
    <link rel="stylesheet"
          href="/css/nav-user.css">
    <link rel="stylesheet"
          href="/css/themify-icons/themify-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<header th:replace="common/header :: header">
</header>
<div class="person-body">
    <nav th:replace="common/nav-user :: nav">

    </nav>
    <div class="person-body-container">
        <div class="person-body-container-content">
            <div class="person-body-container-content-top">
                <div class="person-body-container-content-top-left">
                    <h1 class="person-body-container-content-top-title">
                        Thông báo
                    </h1>
                    <div class="person-body-container-content-top-content">
                        Xem thông tin thông báo
                    </div>
                </div>
            </div>
            <div class="person-body-container-content-bottom">
                <div style="background-color:#dbdbdb"
                     class="person-body-container-content-bottom-group">
                    <div class="person-body-container-content-bottom-group-line">
                        <div class="person-body-container-content-bottom-group-line-left">
                            <div class="person-body-container-content-bottom-group-line-left-name">
                                Đơn hàng đã được
                                duyệt
                            </div>
                            <div class="person-body-container-content-bottom-group-line-left-line">

                            </div>
                            <div class="person-body-container-content-bottom-group-line-left-phone">
                                15:08 24/2/2024
                            </div>
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-group-line">
                        <div class="person-body-container-content-bottom-group-line-left">
                            <div
                                    class="person-body-container-content-bottom-group-line-left-phone">
                                Đơn hàng CGSP1234
                                đã được duyệt vào
                                lúc 15:08
                                24/2/2024, dự kiến
                                hàng sẽ được giao
                                đến vào lúc 19:33
                                26/2/2024
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color:#dbdbdb"
                     class="person-body-container-content-bottom-group">
                    <div class="person-body-container-content-bottom-group-line">
                        <div class="person-body-container-content-bottom-group-line-left">
                            <div class="person-body-container-content-bottom-group-line-left-name">
                                Đơn hàng đã được
                                duyệt
                            </div>
                            <div class="person-body-container-content-bottom-group-line-left-line">

                            </div>
                            <div class="person-body-container-content-bottom-group-line-left-phone">
                                15:08 24/2/2024
                            </div>
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-group-line">
                        <div class="person-body-container-content-bottom-group-line-left">
                            <div
                                    class="person-body-container-content-bottom-group-line-left-phone">
                                Đơn hàng CGSP1234
                                đã được duyệt vào
                                lúc 15:08
                                24/2/2024, dự kiến
                                hàng sẽ được giao
                                đến vào lúc 19:33
                                26/2/2024
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--form-->
<script src="/js/notify-user.js"></script>
<script sec:authorize="isAuthenticated()">
    $(document).ready(
        $.ajax(
            {
                type: "GET",
                url: '/api/cart',
                success: function (result) {
                    console.log(result);
                    $(".home-header-bg-container-bot-right-quantity").text(result.length);
                }
            }
        )
    )
</script>
</body>
</html>
