<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet"
          href="/css/product-management.css">
    <link rel="stylesheet"
          href="/css/header-seller.css">
    <link rel="stylesheet"
          href="/css/themify-icons/themify-icons.css">
    <link rel="stylesheet"
          href="/css/nav-seller.css">
    <link rel="stylesheet"
          href="/css/user-information.css">
    <link rel="stylesheet"
          href="/css/message-popup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">


</head>

<script>

</script>
<body>
<header th:replace="common/header-seller :: header"></header>

<div class="person-body">
    <nav th:replace="common/nav-seller :: nav">

    </nav>
    <div class="person-body-container">
        <div class="person-body-container-content">
            <div class="person-body-container-content-top">
                <h1 class="person-body-container-content-top-title">
                    Hồ Sơ Cửa Hàng
                </h1>
                <div class="person-body-container-content-top-content">
                    Quản lý thông tin hồ sơ cửa
                    hàng
                </div>
            </div>
            <div class="person-body-container-content-bottom"
                 th:object="${seller}">
                <form th:action="@{/seller/change-information}"
                      method="post"
                      class="person-body-container-content-bottom-left">
                    <input hidden="hidden"
                           th:field="*{id}">
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Email
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            <div style="text-align: left"
                                 class="person-body-container-content-bottom-left-row-value-input"
                                 th:text="*{account.getUsername()}">
                            </div>
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Tên cửa hàng:
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            <input style="text-align: left"
                                   class="person-body-container-content-bottom-left-row-value-input"
                                   th:field="*{name}"
                            >

                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Địa chỉ cửa hàng
                        </div>
                        <div th:text="${sellerAddress.toString()}"
                             style="text-align: left"
                             class="person-body-container-content-bottom-left-row-value changePassword"
                        >
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label button"
                        >
                            Button
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            <button
                                    class="person-body-container-content-bottom-left-row-value-button save-change"
                                    type="submit"
                            >
                                Lưu
                            </button>
                        </div>
                    </div>
                </form>
                <div class="person-body-container-content-bottom-right">
                    <div class="person-body-container-content-bottom-right-top">
                        <img class="person-body-container-content-bottom-right-top-avatar"
                             th:src="${seller.getImg()}">
                    </div>
                    <div class="person-body-container-content-bottom-right-mid">
                        <form
                                class="person-body-container-content-bottom-right-mid-form"
                                method="post"
                                enctype="multipart/form-data"
                                action="/seller/upload-image"
                        >
                            <input
                                    hidden="hidden"
                                    type="file"
                                    id="profile_pic"
                                    name="image"
                                    accept=".jpg, .jpeg, .png"
                            />
                            <label class="person-body-container-content-bottom-right-mid-form-choose-picture"
                                   for="profile_pic">Chọn
                                ảnh</label>
                            <button class="person-body-container-content-bottom-right-mid-form-choose-picture"
                                    type="submit">
                                Lưu ảnh
                            </button>
                        </form>
                    </div>
                    <div class="person-body-container-content-bottom-right-bottom">
                        <p>Định dạng:.JPEG,
                            .PNG</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/message-popup :: popup"></div>
<script src="/js/message-popup.js"></script>
<script src="/js/seller-information.js"></script>
</body>
</html>