<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet"
          href="/css/product-management.css">
    <link rel="stylesheet"
          href="/css/header-seller.css">
    <link rel="stylesheet"
          href="/css/themify-icons/themify-icons.css">
    <link rel="stylesheet"
          href="/css/nav-seller.css">
    <link rel="stylesheet"
          href="/css/seller-information.css">
    <link rel="stylesheet"
          href="/css/message-popup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">


</head>

<script>

</script>
<body>
<header th:replace="common/header-seller :: header"></header>

<div class="content">
    <nav class="nav"
         th:replace="common/nav-seller :: nav"></nav>
    <div class="product-body">
        <div class="information-container"
             th:object="${seller}">
            <h1 class="header-seller-info">Thông
                tin cửa hàng</h1>
            <div class="row space-position space-top">
                <div class="col-3 d-flex justify-content-end">
                    <h3>Tên cửa hàng :</h3>
                </div>
                <div class="col-9">
                    <h3 th:text="*{name}">
                    </h3>
                </div>
            </div>


            <div class="row space-position">
                <div class="col-3 d-flex justify-content-end align-items-center">
                    <h3>Logo của cửa hàng :</h3>
                </div>
                <div class="col-9">
                    <img class="image-user"
                         th:src="*{img}">
                    <form method="post"
                          th:action="@{/seller/upload-image}"
                          enctype="multipart/form-data">
                        <div class="col-3 d-flex justify-content-end align-items-center">
                            <input hidden="hidden"
                                   type="file"
                                   id="profile_pic"
                                   name="image"
                                   accept=".jpg, .jpeg, .png"/>
                        </div>
                        <div class="col-9">
                            <button type="button">
                                <label
                                        class="person-body-container-content-bottom-right-mid-form-choose-picture"
                                        for="profile_pic">Chọn
                                    ảnh</label>
                            </button>
                            <button type="submit">
                                Lưu ảnh
                            </button>
                        </div>
                    </form>
                </div>
            </div>

<!--            <div class="row space-position">-->
<!--                <div class="col-3 d-flex justify-content-end">-->
<!--                    <h3>Địa chỉ cửa hàng :</h3>-->
<!--                </div>-->
<!--                <div class="col-9">-->
<!--                    <h3 class="word-wrap"-->
<!--                        th:text="*{address}">-->
<!--                    </h3>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row space-position">-->
<!--                <div class="col-3 d-flex justify-content-end">-->
<!--                    <h3>Số điện thoại :</h3>-->
<!--                </div>-->
<!--                <div class="col-9">-->
<!--                    <h3 class="word-wrap"-->
<!--                        th:text="*{phoneNumber}"></h3>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row space-position">-->
<!--                <div class="col-3 d-flex justify-content-end">-->
<!--                    <h3>Link Facebook</h3>-->
<!--                </div>-->
<!--                <div class="col-9">-->
<!--                    <h3 class="word-wrap"-->
<!--                        th:text="*{linkFacebook}"></h3>-->
<!--                </div>-->
            </div>
            <div class="row space-position">
                <div class="col-3 d-flex justify-content-end"></div>
                <div class="col-9">
                    <button style="padding: 1rem 1rem"
                            class="changeInfo"
                            id="change-information">
                        Thay đổi thông tin
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Đổ data tại đây-->
<div style="display: none">
    <div class="product-body">
        <div class="information-container">
            <h1 class="header-seller-info">Thông
                tin cửa hàng</h1>
            <div class="row space-position space-top">
                <div class="col-3 d-flex justify-content-end">
                    <h3>Tên cửa hàng :</h3>
                </div>
                <div class="col-9">
                    <h3>Tên shop ở đây</h3>
                </div>
            </div>
            <div class="row space-position change-image">
                <div class="col-3 d-flex justify-content-end align-items-center">
                    <h3>Logo của cửa hàng :</h3>
                </div>
                <div class="col-9">
                    <div class="image-user"></div>
                </div>
            </div>
            <div class="row space-position">
                <div class="col-3 d-flex justify-content-end">
                    <h3>Địa chỉ cửa hàng :</h3>
                </div>
                <div class="col-9">
                    <h3 class="word-wrap"> Địa chỉ
                        cụ thể </h3>
                </div>
            </div>
            <div class="row space-position">
                <div class="col-3 d-flex justify-content-end">
                    <h3>Số điện thoại :</h3>
                </div>
                <div class="col-9">
                    <h3 class="word-wrap">
                        000000000xxx </h3>
                </div>
            </div>
            <div class="row space-position">
                <div class="col-3 d-flex justify-content-end">
                    <h3>Link Facebook</h3>
                </div>
                <div class="col-9">
                    <h3 class="word-wrap">
                        link </h3>
                </div>
            </div>
            <div class="row space-position">
                <div class="col-3 d-flex justify-content-end"></div>
                <div class="col-9">
                    <button style="padding: 1rem 1rem"
                            class="changeInfo">
                        Thay đổi thông tin
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Form thay đổi thông tin -->
<div class="overlay"></div>
<div class="form-container" id="formContainer">
    <form style="height: 25rem; width: 25rem "
          th:action="@{/seller/change-information}"
          method="post" th:object="${seller}">
        <input hidden="hidden" th:field="*{id}">
        <input hidden="hidden"
               th:field="*{account}">
        <input hidden="hidden" th:field="*{img}">
        <input hidden="hidden" class="mb-3">
        <label class="form-label">Tên cửa
            hàng</label>
        <input type="text" class="form-control"
               id="name-seller-information"
               th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}"
           th:errors="*{name}"></p>
<!--        <div class="mb-3">-->
<!--            <label class="form-label">Địa chỉ cửa-->
<!--                hàng</label>-->
<!--            <input type="text"-->
<!--                   class="form-control "-->
<!--                   id="address-seller-information"-->
<!--                   th:field="*{address}">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label class="form-label">Số điện-->
<!--                thoại</label>-->
<!--            <input type="text"-->
<!--                   class="form-control "-->
<!--                   id="phone-number-seller-information"-->
<!--                   th:field="*{phoneNumber}">-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label class="form-label">Link-->
<!--                facebook </label>-->
<!--            <input type="text"-->
<!--                   class="form-control "-->
<!--                   th:field="*{linkFacebook}">-->
<!--        </div>-->
        <div class="submit-and-cancel-button">
            <button type="submit"
                    class="btn btn-primary">Xác
                nhận
            </button>
            <button type="reset"
                    id="cancel-form-information"
                    class="btn btn-primary">Hủy
            </button>
        </div>
    </form>
</div>
<div th:replace="common/message-popup :: popup"></div>
<script src="/js/message-popup.js"></script>
<script src="/js/seller-information.js"></script>
</body>
</html>