<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/user-information.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav-user.css">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{css/change-password-form.css}">

</head>
<body>
<header th:replace="common/header :: header">
</header>
<div class="person-body">
    <nav th:replace="common/nav-user :: nav">

    </nav>
    <div class="person-body-container">
        <div class="person-body-container-content">
            <div class="person-body-container-content-top">
                <h1 class="person-body-container-content-top-title">
                    Hồ Sơ Của Tôi
                </h1>
                <div class="person-body-container-content-top-content">
                    Quản lý thông tin hồ sơ để bảo mật tài khoản
                </div>
            </div>
            <div class="person-body-container-content-bottom">
                <form action="/user" method="post" class="person-body-container-content-bottom-left">
                    <input style="display: none" name="action" value="saveChange">
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Email
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            ${user.getEmail()}
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Tên
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            <input
                                    placeholder="Chưa cập nhật"
                                    type="text"
                                    name="name"
                                    class="person-body-container-content-bottom-left-row-value-input"
                                    value="${user.getName()}"
                            />
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Password
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value changePassword"
                        >
                            Bấm vào đây để thay đổi mật khẩu
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Giới tính
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            <div
                                    class="person-body-container-content-bottom-left-row-value-radioGroup"
                            >
                                <input type="radio" name="gender" id="nam" value="nam">


                                <label for="nam">Nam</label>
                            </div>
                            <div
                                    class="person-body-container-content-bottom-left-row-value-radioGroup"
                            >
                                <input type="radio" name="gender" id="nu" value="nu">


                                <label for="nu">Nữ</label>
                            </div>
                            <div
                                    class="person-body-container-content-bottom-left-row-value-radioGroup"
                            >
                                <input type="radio" name="gender" id="khac" value="khac">
                                <label for="khac">Khác</label>
                            </div>
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label"
                        >
                            Ngày Sinh
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            <div
                                    class="person-body-container-content-bottom-left-row-value-dayOfBirth"
                            >
                                <input name="dayOfBirth" type="date" value="${user.getDateOfBirth()}"/>
                            </div>
                            <div
                                    class="person-body-container-content-bottom-left-row-value-selectGroup"
                            ></div>
                            <div
                                    class="person-body-container-content-bottom-left-row-value-selectGroup"
                            ></div>
                        </div>
                    </div>
                    <div class="person-body-container-content-bottom-left-row">
                        <div
                                class="person-body-container-content-bottom-left-row-label button"
                        >
                            Button
                        </div>
                        <div
                                class="person-body-container-content-bottom-left-row-value"
                        >
                            <button
                                    class="person-body-container-content-bottom-left-row-value-button save-change"
                                    type="submit"
                            >
                                Lưu
                            </button>
                        </div>
                    </div>
                </form>
                <div class="person-body-container-content-bottom-right">
                    <div class="person-body-container-content-bottom-right-top">
                        <div
                                class="person-body-container-content-bottom-right-top-avatar"
                        ></div>
                    </div>
                    <div class="person-body-container-content-bottom-right-mid">
                        <form
                                class="person-body-container-content-bottom-right-mid-form"
                                method="get"
                                enctype="multipart/form-data"
                                action=""
                        >
                            <input
                                    hidden="hidden"
                                    type="file"
                                    id="profile_pic"
                                    name="profile_pic"
                                    accept=".jpg, .jpeg, .png"
                            />
                            <label class="person-body-container-content-bottom-right-mid-form-choose-picture"
                                   for="profile_pic">Chọn ảnh</label>
                            <button class="person-body-container-content-bottom-right-mid-form-choose-picture"
                                    type="submit">Lưu ảnh
                            </button>
                        </form>
                    </div>
                    <div class="person-body-container-content-bottom-right-bottom">
                        <p>Định dạng:.JPEG, .PNG</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="changeForm-container">
    <form th:replace="common/change-password-form :: form" class="form-changePassword" method="post" action="/user">
        <input style="display: none" name="action" value="changePassword">
        <label>Mật khẩu cũ: <br><input type="password" name="oldPW"></label>
        <label>Mật khẩu mới: <br><input type="password" name="newPW"></label>
        <label>Nhập lại mật khẩu mới: <br><input type="password" name="newAgainPW"></label>

        <button class="formChange-submit" type="submit">Lưu</button>
        <span class="ti-close"></span>
    </form>
</div>
<script src="/js/user-information.js"></script>
<script src="/js/change-password-form.js"></script>
</body>
</html>
