* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

:root {
    --shope-color: #ee4d2d;
}

.content {
    display: flex;
}


.nav {
    width: 250px;
    height: 100vh;
    top: 120px;
    left: 0;
    margin-right: 40px;
    font-size: 0.875rem;
}

.nav-bg {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 120px;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border-right: 1px solid #dbdbdb;
    padding: 20px;
}

.nav-bg-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.checkbox {
    margin-left: 10px;
}

.nav-bg-item-header {
    margin-bottom: 10px;
}

.nav-bg-item-icon {
    color: var(--shope-color)
}

.nav-bg-item-text {
    color: #888888;
    margin-bottom: 10px;
}

.input-money {
    width: 80px;
    height: 30px;
    border: 1px solid var(--shope-color);
    padding: 4px;
    margin-bottom: 5px;
}

.line {
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: var(--shope-color);
}

.star-group {
    display: flex;
}

.nav-bg-item-text:hover {
    color: var(--shope-color);
    cursor: pointer;
}

input:checked + label {
    color: var(--shope-color);
}

.submit-button {
    width: 80px;
    height: 34px;
    background-color: var(--shope-color);
    color: #ffffff;
    border: none;
}

.submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.content-container-sort {
    max-width: 1000px;
    height: 50px;
    /*display: flex;*/
    /*align-items: center;*/
    /*background-color: rgba(0, 0, 0, 0.08);*/
    /*padding: 4px;*/
    /*border: 1px solid #000;*/
    /*margin-top: 10px;*/
    font-size: 0.875rem;
    position: fixed;
    /*justify-content: space-between;*/
}

.content-container-sort-bg {
    z-index: 1;
    width: 90%;
    max-width: 1000px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    padding: 4px;
    border: 1px solid #dbdbdb;
    /*margin-top: 10px;*/
    position: fixed;
    top: 120px;
    left: 290px;
    font-size: 0.875rem;
    justify-content: space-between;
}

.content-container-sort-left {
    display: flex;
    align-items: center;
}

.content-container-sort-page {
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-container-sort-page-total {
    margin-right: 5px;
}

.content-container-sort-page-button, .content-container-sort-page-button-disable {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    text-decoration: none;
    color: #000;
}

.content-container-sort-page-button-disable {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.05);
}

.content-container-sort-page-button:hover {
    cursor: pointer;
    background-color: var(--shope-color);
    color: #fff;
}

.content-container-sort-item {
    margin-left: 10px;
    min-width: 100px;
    height: 34px;
    /*border: 1px solid var(--shope-color);*/
    padding: 0px 4px;
    text-align: center;
    line-height: 34px;
    background-color: #fff;
}

.content-container-sort-item:hover {
    cursor: pointer;
    background-color: var(--shope-color);
    color: #fff;
}