* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, Arial, Helvetica, sans-serif;
}

:root {
    --shope-color: #ee4d2d;
}

.content {
    display: flex;
    width: 100vw;
}

.content-container {
    width: 90%;
    max-width: 1100px;
}

.content-container-sort {
    max-width: 1200px;
    height: 50px;
    /*display: flex;*/
    /*align-items: center;*/
    /*background-color: rgba(0, 0, 0, 0.08);*/
    /*padding: 4px;*/
    /*border: 1px solid #000;*/
    /*margin-top: 10px;*/
    font-size: 0.875rem;
    /*justify-content: space-between;*/
}

.content-container-sort-bg {
    width: 90%;
    max-width: 1100px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    padding: 4px;
    border: 1px solid #dbdbdb;
    /*margin-top: 10px;*/
    position: fixed;
    font-size: 0.875rem;
    justify-content: space-between;
}

.content-container-sort-left {
    display: flex;
    align-items: center;
}

.content-container-sort-page {
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-container-sort-page-total {
    margin-right: 5px;
}

.content-container-sort-page-button {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}

.content-container-sort-page-button:hover {
    cursor: pointer;
    background-color: var(--shope-color);
    color: #fff;
}

.content-container-sort-item {
    margin-left: 10px;
    min-width: 100px;
    height: 34px;
    /*border: 1px solid var(--shope-color);*/
    padding: 0px 4px;
    text-align: center;
    line-height: 34px;
    background-color: #fff;
}

.content-container-sort-item:hover {
    cursor: pointer;
    background-color: var(--shope-color);
    color: #fff;
}

.body-productContainer {
    min-height: 304px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.body-productContainer-product {
    width: 200px;
    height: 340px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    background-clip: content-box;
    transition: 0.5s;
    text-decoration: none;
    color: #000000;
}

.body-productContainer-product-group {
    border: 1px solid #e5e7eb;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.body-productContainer-product-group:hover {
    transform: translateY(-5px);
    cursor: default;
    border: 3px solid var(--shope-color);
}

.body-productContainer-product-productImg {
    width: 100%;
    height: 190px;
    background-image: url(https://down-vn.img.susercontent.com/file/vn-11134201-7r98o-lnrcg8kp8e7h49_tn);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.body-productContainer-product-productName {
    flex: 1;
    padding: 10px 5px;
    /*max-height: 33px;*/
    overflow: hidden;
}

.body-productContainer-product-productQuantity {
    flex: 1;
    padding: 10px 5px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

.body-productContainer-product-unitPrice {
    height: 25px;
    padding: 5px;
    display: flex;
    color: var(--shope-color);
    /*justify-content: space-between;*/
}

.body-productContainer-product-unitPrice-origin {
    color: #ccc;
    text-decoration: line-through;
    margin-right: 3px;
}

.body-productContainer-product-info {
    display: flex;
    height: 25px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.body-productContainer-product-info-star {
    display: flex;
}

.yellow-star, .grey-star {
    display: flex;
    width: 10px;
    height: 10px;
}

.yellow-star-sgv, .grey-star-sgv {
    width: 10px;
    height: 10px;
}

.body-productContainer-product-info-sold {
    display: flex;
}

.body-productContainer-product-info-sold-child {
    margin-right: 3px;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, .54118);
}

.body-productContainer-product-button {
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
}

.body-productContainer-product-button-add {
    height: 35px;
    flex: 1;
    margin: 0px 5px;
    background-color: rgba(255, 87, 34, 0.1);
    border: 1px solid var(--shope-color);
    color: var(--shope-color);
    text-align: center;
    line-height: 35px;
}

.body-productContainer-product-button-add:hover, .body-productContainer-product-button-buy:hover {
    cursor: pointer;
    opacity: 0.8;
}

.body-productContainer-product-button-buy {
    height: 35px;
    flex: 1;
    margin: 0px 5px;
    background-color: var(--shope-color);
    border: 1px solid var(--shope-color);
    color: #ffffff;
    text-align: center;
    line-height: 35px;
}